main {
    hyphens: auto
}

body {
    background-color: #002b36;
    color: #839496;
    font: 0.9em monospace;
    text-align: center;
}

footer {
    background-color: #073642;
    color: #839496;
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

canvas {
    margin: 0 auto;
}

a:link, a:visited, a:active {
    color: #657B83;
    text-decoration: none;
}

a:hover {
    color: #839496;
    text-decoration: none;
}

.box {
    background-color: #073642;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px dashed #657b83;
    outline: 0 none;
    line-height: 1em;
}

.overlay {
    display: block;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    z-index: 98;
}

.wrapper {
    overflow: hidden;
}

.info {
    text-align: left;
    float: left;
    margin-top: 0;
    margin-left: 5px;
    line-height: 2px;
}

.logo {
    text-align: right;
    float: right;
    margin: 5px;
    overflow: hidden;
}

#chart_overview {
    overflow: hidden;
}

#button_scroll_top {
    display: none;
    color: #839496;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
}
