{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block js_head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block content %}
    <div style="height: 400px">
        <canvas id="chart_overview"></canvas>
    </div>
    <br>
    {% for server in servers %}
        <div class="box">
            <h2>{{ server }}</h2>
            {% if data[server][0][1] == None or data[server][0][2] == None %}
                <h3 style="color: #DC322F">DOWN</h3>
            {% else %}
                <p>user: {{ data[server][0][1] }}</p>
                <p>ping: {{ data[server][0][2] }} ms</p>
            {% endif %}
            <canvas id="chart_{{ server | alphabetic }}"></canvas>
        </div>
        <br>
    {% endfor %}
{% endblock %}
{% block js_body %}
    <script>

        function getServerColor(address) {
            // minetracks color scheme:
            // https://github.com/Cryptkeeper/Minetrack/blob/af2301495ec015efdbc994391c0732db2d5df19c/main.js#L15
            let seed = 0
            for (let i = address.length - 1; i >= 0; i--) {
                seed = address.charCodeAt(i) + ((seed << 5) - seed)
            }
            const color = Math.floor(Math.abs((Math.sin(seed) * 10000) % 1 * 16777216)).toString(16)
            return '#' + Array(6 - color.length + 1).join('0') + color
        }

        window.onload = function () {

            Chart.defaults.plugins.legend = false

            // overview chart

            let bg_colors = [];
            {% for server in servers %}
                bg_colors.push(getServerColor({{ server | tojson }}))
            {% endfor %}

            const data_overview = {
                labels: {{ servers | tojson }},
                datasets: [{
                    label: 'player',
                    data: {{ players | tojson }},
                    hoverOffset: -32,
                    backgroundColor: bg_colors
                }]
            };

            const chart_overview = new Chart(document.getElementById('chart_overview'), {
                type: 'doughnut',
                data: data_overview,
                options: {
                    legend: {
                        display: false
                    },
                    responsive: true,
                    maintainAspectRatio: false
                },
            });

            // server charts

            {% for server in servers %}

                fetch('./servers/{{ server }}').then(function (response) {
                    if (response.ok) {
                        return response.json();
                    } else {
                        return Promise.reject(response);
                    }
                }).then(function (data) {

                    const data_{{ server | alphabetic }} = {
                        labels: data.map(function (entry) {
                            return entry[0];
                        }),
                        datasets: [{
                            label: 'player',
                            data: data.map(function (entry) {
                                return entry[1];
                            }),
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                        }, {
                            label: 'ping',
                            data: data.map(function (entry) {
                                return entry[2];
                            }),
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                        }]
                    };

                    const chart_{{ server | alphabetic }} = new Chart(document.getElementById('chart_{{ server | alphabetic }}'), {
                        type: 'line',
                        data: data_{{ server | alphabetic }},
                        options: {
                            legend: {
                                display: false
                            },
                            responsive: false,
                            maintainAspectRatio: false
                        },
                    });

                }).catch(function (err) {
                    console.warn('error while fetching data for {{ server }}', err);
                });

            {% endfor %}

        }

    </script>
{% endblock %}
