{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block js_head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block content %}
    <div style="height: 400px">
        <canvas id="chart"></canvas>
    </div>
    <br>
    {% for server in servers %}
        <div class="box">
            <h2>{{ server }}</h2>
            {% if data[server][0][1] == None or data[server][0][2] == None %}
                <h3 style="color: #DC322F">DOWN</h3>
            {% else %}
                <p>user: {{ data[server][0][1] }}</p>
                <p>ping: {{ data[server][0][2] }} ms</p>
            {% endif %}
        </div>
        <br>
    {% endfor %}
{% endblock %}
{% block js_body %}
    <script>

        function getServerColor(address) {
            // minetracks color scheme:
            // https://github.com/Cryptkeeper/Minetrack/blob/af2301495ec015efdbc994391c0732db2d5df19c/main.js#L15
            let seed = 0
            for (let i = address.length - 1; i >= 0; i--) {
                seed = address.charCodeAt(i) + ((seed << 5) - seed)
            }
            const color = Math.floor(Math.abs((Math.sin(seed) * 10000) % 1 * 16777216)).toString(16)
            return '#' + Array(6 - color.length + 1).join('0') + color
        }

        window.onload = function () {

            let bg_colors = [];

            {% for server in servers %}
                bg_colors.push(getServerColor({{ server | tojson }}))
            {% endfor %}

            const data = {
                labels: {{ servers | tojson }},
                datasets: [{
                    label: 'player',
                    data: {{ player | tojson }},
                    hoverOffset: -32,
                    backgroundColor: bg_colors
                }]
            };

            const ctx = document.getElementById('chart');
            Chart.defaults.plugins.legend = false
            const chart = new Chart(ctx, {
                type: 'doughnut',
                data: data,
                options: {
                    legend: {
                        display: false
                    },
                    responsive: true,
                    maintainAspectRatio: false
                },
            });

        }

    </script>
{% endblock %}
