{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block js_head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block content %}
    <div style="height: 400px">
        <canvas id="chart"></canvas>
    </div>
    <br>
    {% for server in servers %}
        <div class="box">
            <h2>{{ server }}</h2>
            {% if data[server][0][1] == None or data[server][0][2] == None %}
                <h3 style="color: #DC322F">DOWN</h3>
            {% else %}
                <p>user: {{ data[server][0][1] }}</p>
                <p>ping: {{ data[server][0][2] }} ms</p>
            {% endif %}
        </div>
        <br>
    {% endfor %}
{% endblock %}
{% block js_body %}
    <script>
        window.onload = function () {

            const data = {
                labels: {{ servers | tojson }},
                datasets: [{
                    label: 'player',
                    data: {{ player | tojson }},
                    fill: false,
                    borderColor: 'rgb(103, 140, 177)',
                    pointBackgroundColor: 'rgb(38, 139, 210)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(38, 139, 210)'
                }]
            };

            const ctx = document.getElementById('chart');
            const chart = new Chart(ctx, {
                type: 'radar',
                data: data,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    elements: {
                        line: {
                            borderWidth: 1,
                            suggestedMax: 100
                        }
                    }
                },
            });

        }

    </script>
{% endblock %}
